* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}
:root {
  --bg-primary: #fcf5e9;
  --dark-color: #333;
  --container-normal: 1100px;
  --container-wide: 1400px;
  --container-narrow: 900px;
}
a {
  text-decoration: none;
  color: var(--dark-color);
}
ul {
  list-style: none;
}
img {
  max-width: 1100px;
}
/* _____________ H O M E _____________   */
/* container */
.container {
  margin: 0 auto;
  max-width: var(--container-normal);
  padding: 0 1.5rem;
}
.container-lg {
  max-width: var(--container-wide);
}
.container-sm {
  max-width: var(--container-narrow);
}
/* Header */
.header {
  margin: 1.5rem auto;
}
.header .logo {
  width: 150px;
}
.header .header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}
.header .main-menu {
  display: flex;
  gap: 1rem;
}
.header .main-menu a {
  padding: 0.5rem 1rem;
}
.header .main-menu a:hover {
  background-color: var(--bg-primary);
}

.current {
  background-color: var(--bg-primary);
  font-weight: 600;
}
/*Home Bouy */
.hero {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero h2 {
  font-size: 3rem;
  font-weight: 100;
}
.hero h3 {
  font-size: 3rem;
  font-weight: 100;
  padding-top: 1.5rem;
}
span {
  padding: 0.3rem 0.5rem;
  background-color: var(--bg-primary);
  color: #333;
  line-height: 1.6;
  font-weight: normal;
  border-radius: 10px;
}
/* images */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 25%);
  grid-template-rows: repeat(3, 30%);
  gap: 20px;
  justify-content: center;
  align-content: center;
}

img {
  max-width: 300px;
}
@media (max-width: 1200px) {
  img {
    max-width: 200px;
  }
}
@media (max-width: 778px) {
  img {
    max-width: 150px;
  }
}
@media (max-width: 572px) {
  img {
    max-width: 100px;
  }
}
@media (max-width: 376px) {
  img {
    max-width: 80px;
  }
}
.gallery-item img {
  border-radius: 20px;
}
.gallery-item:hover {
  opacity: 0.9;
}
/* footer */
.footer {
  margin-top: 10px;
  border-top: 3px solid #aaa;
  padding: 2rem 1.5rem;
  width: 100%;
}
.footer-flex {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  padding: 30px;
  align-items: center;
}
.footer-flex img {
  width: 100px;
}
.footer .contact {
  font-size: 1rem;
}
.footer .social {
  font-size: 1rem;
}

.footer .social .aTag-social {
  margin-top: 20px;
  display: flex;
  gap: 10%;
}
/*____________ About  ____________*/
/* Services */
.services {
  min-width: 320px;
  background-color: var(--dark-color);
  color: #fff;
}
.services .section-heading {
  padding: 40px;
  text-align: center;
}
.services .services-flex {
  display: grid;
  grid-template-columns: repeat(3, maxmin(20%, 33%));
  justify-content: space-around;
}
.services .service-item {
  padding: 20px 10px;
  margin-bottom: 50px;
  line-height: 1.9rem;
}
.services .service-item h4 {
  font-size: 1.2rem;
  padding: 10px 0;
}
/* team */
.team {
  margin: 3rem 1rem 10rem;
}
.team .section-heading {
  padding: 40px;
  text-align: center;
}
.team .team-flex {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.team .team-item img {
  width: 100%;
  border-radius: 20px;
}

@media (max-width: 572px) {
  img {
    max-width: 100px;
  }
  .team .caption {
    font-size: smaller;
    max-width: 100px;
  }
}
@media (max-width: 376px) {
  img {
    max-width: 80px;
  }
  .team .caption {
    font-size: smaller;
    max-width: 80px;
  }
}
/*____________ Contact  ____________*/
.bg-dark {
  background-color: var(--dark-color);
  color: #fff;
}
.contact {
  padding: 3rem 0 4rem;
  text-align: center;
}
.contact p {
  font-size: 2rem;
}
.contact .section-heading {
  text-align: center;
  padding: 40px;
}
.form-group label {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.form-group {
  margin: 2rem 2rem;
}
.form-group textarea {
  height: 200px;
}
.form-group input,
.form-group textarea {
  border: none;
  border-bottom: 1px solid var(--dark-color);
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  padding-bottom: 2rem;
}
.form-group input:focus,
.form-group textarea:focus {
  border: none;
}
.form-group textarea {
  resize: none;
}
/* btn */
.form-group #btn {
  width: 100%;
  height: 50px;
  font-size: 1.5rem;
  border-radius: 10px;
  border: hidden;
}
.form-group #btn:hover {
  background: var(--dark-color);
  color: #fff;
}
@media (max-width: 320px) {
}
@media (max-width: 768px) {
  /* Media Querie Header */
  .header .header-flex {
    flex-direction: column;
    gap: 1.5rem;
  }
  /* Meida Queries hero */
  .hero {
    height: 300px;
  }
  .hero h2 {
    font-size: 2rem;
  }
  /* gallery */
  .flex-1,
  .flex-2,
  .flex-3 {
    flex-direction: row;
    align-items: center;
    max-width: 340px;
  }
  .flex-1 img,
  .flex-2 img,
  .flex-3 img {
    max-width: 160px;
  }
  /* footer */
  .footer {
    max-width: 100%;
    text-align: center;
    line-height: 2rem;
  }
  .footer-flex {
    flex-direction: column;
    gap: 50%;
    align-content: center;
  }
  .footer-flex img {
    width: 100px;
  }
  .footer .contact,
  .footer .social {
    font-size: 1rem;
  }
  .footer .social h4 {
    margin: 2rem 0 1rem;
  }
  .footer .social .aTag-social {
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .contact p {
    font-size: 1rem;
  }
}
